<!DOCTYPE html>
<html lang="en" ng-app="myApp" id="ng-app">
<head>

    <title></title>        
    <!-- css -->
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">     -->
    <link rel="stylesheet" href="style.css">                        
    <!--
    <link rel="stylesheet" href="highlight/styles/github.css">
    -->
    <link rel="stylesheet" href="isteven-omni-bar.css">                        

    <!-- JS 
    <script src="highlight/highlight.pack.js"></script>
    -->
    <script src="angular.min.js"></script>    
    <script src="isteven-omni-bar.js"></script>      
    
</head>
<body ng-controller="main">
    <div id="container">
        <h1>AngularJS Omni Bar</h1>
        <h4>
            Native AngularJS multi-purpose stacked bar you can use to display progress or completion. Supports simple animation using ngAnimate, and configurable through CSS.
            <br />
            Version: 1.0.0
        </h4>
<div
    isteven-omni-bar
    current-value='value1'
    max-value='value2'
    current-style='style1'
    max-style='style2'
>
<span>${{value1}} of ${{value2}}</span>
</div>

<input type='text' ng-model='value1' />
<input type='text' ng-model='value2' />

<button type='button' ng-click='style1 = setRandomColor()' >Change current bar color</button>
<button type='button' ng-click='style2 = setRandomColor()' >Change max bar color</button>

                
        <br /><br />

        <a href="https://github.com/isteven/angular-multi-select" target="_blank" class="download" onclick="ga( 'send', 'event', 'button', 'click' );">
            <div class="fa fa-github fa-lg">
            </div>
            &nbsp; View on Github
        </a>                
        <!--
        <iframe src="http://ghbtns.com/github-btn.html?user=isteven&repo=angular-multi-select&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=isteven&repo=angular-multi-select&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=isteven&repo=angular-multi-select&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="160" height="20"></iframe>
        -->
        <h2>Features</h2>
        <ul>
            <li>Pure AngularJS. Can be easily combined with other Javascript libraries such as jQuery, Twitter Bootstrap, etc.</li>            
        </ul> 

        
        <h2>Usage</h2>

        <h2>Demo</h2>

        

        <h2>Dependency</h2>
        AngularJS v1.2.15. Other versions may or may not work. Please test first.

        <h2>Browser Compatibility</h2>
        Tested on:
        <ul>
            <li>Opera >= 12.16 (Yes, I love Opera browser! Download yours here: <a href="http://www.opera.com/">http://www.opera.com/</a>)</li>
            <li><strike>IE8</strike> IE: At the moment I don't have access to IE9 and above, so please test first before you use this on production environment.</li>
            <li>Firefox >= 27</li>
            <li>Google Chrome >= 33</li>
            <li>Might work on some mobile browsers. Please test first before you use this on production environment.</li>
        </ul>

        <h2>Bug Reporting</h2>
        <ul>            
            <li>Search in the issue section first. Somebody might have reported the same bug and/or asked similar question. If there's none, then please create a new issue in <a href="https://github.com/isteven/angular-multi-select/issues">https://github.com/isteven/angular-multi-select/issues</a>.</li>
            <li>Try to reproduce the problem in JSFiddle or Plunker (or any other online JS collaboration tool), and include the URL in the issue you are creating.</li>
        </ul>

        <h2>Note</h2>
        <ul>            
            <li>This directive is a practical solution, not a performance champion. It will not win any code efficiency competition.</li>
            <li>As for the moment, developments are on going, so I am not accepting pull requests. I will choose &  add them manually instead.</li>
            <li>If you like / use this directive in your awesome projects, star this repo. It's a huge motivation for me. Would also love to hear from you if you use it in an open source project. Thanks!</li>                    
        </ul>        
        
        <h2>Licence</h2>
        Released under the MIT license:
        <div class="license">
        <p>The MIT License (MIT)</p>

        <p>Copyright (c) 2014 Ignatius Steven (https://github.com/isteven)</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE</p>
</div>
        <h3>&nbsp;</h3>
    </div>
</body>
<script>

// Load the multi-select module
var myApp = angular.module('myApp', [ 'isteven-omni-bar' ]);

// Controller
myApp.controller( 'main' , [ '$scope' , function ($scope) {               

    $scope.barText = function ( value1, value2 ) {
        if ( typeof value1 !== 'undefined' && typeof value2 !== 'undefined' ) {
            return 'S$' + value1 + ' of S$' + value2;
        }
    }

    $scope.setRandomColor = function() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return { backgroundColor: color };
        
    }    

    $scope.value1 = 4000;
    $scope.value2 = 4500;

    $scope.style1 = $scope.setRandomColor();
}]);    

// hljs.initHighlightingOnLoad(); 

/*
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50075821-1', 'isteven.github.io');
ga('send', 'pageview');
*/
</script>    
</html>


