body {
    font-family: 'Arial';
    font-size: 14px;
    background-color: #fff;            
    line-height:1.4;            
}
#container {
    margin: 0px auto; 
    padding: 15px 50px;
}

.soloCode pre {
    padding: 7px;
    background-color: #f8f8f8;  
}

.tabCode pre {    
    display: block;
    padding: 5px !important;
    margin: 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f8f8f8;    
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 2px;
}

.darkTab.nav-tabs > li.active >a, 
.darkTab.nav-tabs > li.active > a:hover, 
.darkTab.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
}

.download {
    border-radius:5px;
    border:1px solid #ccc;
    display:table-cell;
    color:#333;
    font-weight:bold;
    font-size:17px;
    height:30px;
    line-height:25px;
    text-decoration:none;
    text-align:center;
    vertical-align:middle;
    position: relative;
    -moz-border-colors: none;
    background-color: #E6E6E6;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    background-repeat: no-repeat;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    border-image: none;
    border-style: solid;
    border-width: 1px;

    padding:10px;
}
.download:hover {
    background-color: #e6e6e6;
    background-image: linear-gradient(#599bdc, #307bd3);   
    border-width: 1px;
    border-color: #518cc6 #518cc6 #2a65a0;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    -webkit-filter: grayscale(0%);
}
.download img {            
    height: 25px;
    float: left;
    padding-right:10px;
}       
.grey {
    color: #999;
}

.marginTop {
    margin-top: 45px;
}

.borderBottom {
    border-bottom: 1px solid #999;
}
